@import "tailwindcss";

body {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  font-size: 15px; /* base thoda bada */
}

.input-field {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  background: #0f1a23;
  border: 1px solid #394957;
  font-size: 13px;
  outline: none;
}

.input-field:focus {
  border: 1px solid #0ff;
  background: #0a1118;
}
